@media (min-width: 768px) {
    #desserts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px 24px;
        margin-top: 42px;
    }

    .desserts-grid {
        flex-shrink: 1;
    }

    .container {
        display: flex;
        gap: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    #cart {
        flex-basis: 382px;
        flex-shrink: 0;
    }
}